<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand">
        <h1 style="color:white">Mentor on Demands</h1>
    </a>
    <a [routerLink]="['/homepage']" class="navbar-brand ml-auto">
        <h4 style="color:white">Status</h4>
    </a>
    <a [routerLink]="['/homepage']" class="navbar-brand ">
        <h4 style="color:white">Notification</h4>
    </a>
    <a [routerLink]="['/homepage']" class="navbar-brand ">
        <h4 style="color:white">Logout</h4>
    </a>
</nav>

<body background="assets/img/background.jpg" style="height: 100vh;" style="margin-left:0 ;height:700px;">
    <form>
        <div class="sign-up-htm">
            <div class="group">
                <br>
                <h2 style="font-size:30px; margin-left:15cm">Mentor's Profile</h2>

                <table style="margin-top:1cm; font-size:28px; margin-left: 12cm">
                    <tr>
                        <td>Experience</td>
                        <td>{{this.mentor.Experience}}</td>
                    </tr>
                    <tr>
                        <td>LinkedURL</td>
                        <td>{{this.mentor.LinkedURL}}</td>
                    </tr>
                    <tr>
                        <td>Mobile</td>
                        <td>{{this.mentor.Mobile}}</td>
                    </tr>
                    <tr>
                        <td>Technology</td>
                        <td>{{this.mentor.Technology}}</td>
                    </tr>
                    <tr>
                        <td>Training Delivered</td>
                        <td>{{this.mentor.TrainingDelivered}}</td>
                    </tr>
                    <tr>
                        <td>UserName</td>
                        <td>{{this.mentor.UserName}}</td>
                    </tr>
                    <tr>
                        <td>Working Time</td>
                        <td>{{this.mentor.WorkingTime}}</td>
                    </tr>
                </table><br>
            </div>
            <div style="font-size:24px; margin-left:18.5cm">
                <a [routerLink]="['/mentoredit']"><button type="button" class="btn btn-secondary">Edit
                        Profile</button></a>
            </div>


        </div>
    </form>
</body>