<body background="assets/img/back.jpg">
<div class="container"><br><br><br>
  <h2>Signup and login for the mentor</h2><br><br><br>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
      </div>
    </div><br><br><br>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" required>
      </div>
    </div><br><br>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox" name="remember"> Remember me</label>
        </div>
      </div>
    </div><br><br>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button routerLink="/threementor" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
</body>
