<div class="jumbotron">
  <div class="container text-center">
    <h1>Chris Morris</h1>
    <p>Chris Morris completed his graduate program in Harvard university and he is the current head and the CEO of the training company.He specializes in training the trainees in
	the Java Full STack environment.
    </p>
  </div>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>Certifications</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <p>HTML 5</p>
      <img src="assets/img/7.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Angular 7</p>
      <img src="assets/img/8.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Spring boot</p>
      <img src="assets/img/9.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Hibernate</p>
      <img src="assets/img/10.jpeg" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-3">
      <p>Artificial Intelligence</p>
      <img src="assets/img/11.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Machine Learning</p>
      <img src="assets/img/12.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Virtual Reality</p>
      <img src="assets/img/13.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Internet of Things</p>
      <img src="assets/img/14.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <button class="button fancy-button">REQuEST TRAINER</button>
</footer>
