<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<div class="card">
  <img src="assets/img/6.jpg" alt="Rahul" style="width:100%">
  <h1>Rahul Vettori</h1>
  <p class="title">Coach</p>
  <p>Harvard University</p>
  <p>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
  </p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <p><button routerLink="/pay" type="button">Pay</button></p>
</div>
