<br><br><br>
<h2 style="text-align:center">Payment Information</h2><br><br><br><br><br><br>
<div class="card">
  <div class="card-body">Card Number<br>
    <input type="text" placeholder="1234 5678 9101" required><br><br>
    Name <br>
    <input type="text" placeholder="John" required><br><br>
    Expiry<br>
    <input type="month" id="start" name="start" min="2019-09" max="2030-08" value="2019-09"><br><br>
    CCV
    <br><input type="number" placeholder="123" required><br><br>
    <a><button type="button" routerLink="/payconfirm" class="btn btn-secondary">Pay</button></a>
  </div>
</div>
