<h2>Meet the total team of the mentors!!!</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="assets/img/1.jpg" alt="Morris" style="height:400px;width:100%">
                <div class="container">
                    <h2>Chris Morris</h2>
                    <p class="title">CEO&Founder</p>
                    <p>The interactive coach for training in Java Full Stack developers</p>
                    <p>chrismorris@mentorondemand.com</p>
                    <button routerLink="/mentor1" class="button fancy-button">Pay</button>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets/img/2.png" alt="Stephan" style="height:400px; width:100%">
                <div class="container">
                    <h2>Stephan Fleming</h2>
                    <p class="title">Art Director</p>
                    <p>The best coach for teaching the android and ios mobile development</p>
                    <p>example@example.com</p>
                    <p><button routerLink="/mentor2" class="button fancy-button">Pay</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="assets/img/3.jpg" alt="Daniel" style="height:400px;width:100%">
                    <div class="container">
                        <h2>Daniel Vettori</h2>
                            <p class="title">Designer</p>
                            <p>The best coach with good experience in graphic and model designing</p>
                            <p>danielvettori567@gmail.com</p>
                            <p><button routerLink="/mentor3" class="button fancy-button">Pay</button></p>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="assets/img/4.png" alt="Pointing" style="height:400px;width:100%">
                <div class="container">
                    <h2>Ricky Pointing</h2>
                    <p class="title">Coach</p>
                    <p>The best coach for developing the bussiness enterprise students</p>
                    <p>richpointing420@gmail.com</p>
                    <p><button routerLink="/mentor4" class="button fancy-button">Pay</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets/img/5.jpg" alt="Gilchrist" style="height:400px;width:100%">
                <div class="container">
                    <h2>Adam Gilchrist</h2>
                    <p class="title">COach</p>
                    <p>The best coach for developing the technical aspects and support functions of the trainees</p>
                    <p>adamgilchrist78@gmail.com</p>
                    <p><button routerLink="/mentor5" class="button fancy-button">Pay</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="assets/img/6.jpg" alt="Dravid" style="height:400px;width:100%">
                    <div class="container">
                        <h2>Rahul Dravid</h2>
                            <p class="title">Coach</p>
                            <p>You know about the best in the world.The coach every trainee would love to have</p>
                            <p>rahuldravid19@gmail.com</p>
                            <p><button routerLink="/mentor6" class="button fancy-button">Pay</button></p>
                    </div>
            </div>
        </div>
    </div>
