<h2 style="text-align:center">User Profile Card</h2>

<div class="card">
  <img src="assets/img/3.jpg" alt="Vettori" style="width:100%">
  <h1>Daniel Vettori</h1>
  <p class="title">Designer</p>
  <p>Harvard University</p>
  <p>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
  </p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <p><button routerLink="/pay" type="button">Pay</button></p>
</div>
