

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand"><h1 style="color:white">Mentor on Demands</h1></a>
    <a [routerLink]="['/studentindex']" class="navbar-brand ml-auto" ><h5 style="color:white">back</h5></a>
</nav>
<br>
<h1>Current Training</h1>
<div class="card">
    <div class="card-body">
        <p style="margin-left:5cm">JSP</p>
        <div class="container" style="padding-left:0px;">	
            <div class="skills jsp">55%</div>
        </div>
        <button type="button" class="navbar ml-auto" data-toggle="modal" data-target="#updatejsp">update </button>
        <div class="modal" id="updatejsp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">	
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">update your progress level</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">							
                            <div class="slidecontainer">
                                <input type="range" min="1" max="100" value="55" class="slider" id="myRange">
                            </div>				
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <p style="margin-left:5.5cm">JDBC</p>
        <div class="container" style="padding-left:0px;">
            <div class="skills jdbc">40%</div>
        </div>
        <button type="button" class="navbar ml-auto" data-toggle="modal" data-target="#updatejdbc">update </button>
        <div class="modal" id="updatejdbc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">	
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">update your progress level</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">							
                            <div class="slidecontainer">
                                <input type="range" min="1" max="100" value="40" class="slider" id="myRange">
                            </div>				
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>				
<div class="card">
    <div class="card-body">
        <p style="margin-left:5.5cm">Java</p>
        <div class="container" style="padding-left:0px;">
            <div class="skills java">75%</div>
        </div>
        <button type="button" class="navbar ml-auto" data-toggle="modal" data-target="#updatejava">update </button>
        <div class="modal" id="updatejava" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">	
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">update your progress level</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">							
                            <div class="slidecontainer">
                                <input type="range" min="1" max="100" value="75" class="slider" id="myRange">
                            </div>				
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button">Update</button>
                    </div>
                </div>
            </div>
        </div>
        
        <br>
    </div>
</div>