<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand"><h1 style="color:white">Mentor on Demands</h1></a>
    <a [routerLink]="['/studentindex']" class="navbar-brand ml-auto" ><h5 style="color:white">back</h5></a>
</nav>
<br>
<h1>Completed Course</h1><br>
<p style="margin-left:5.5cm">HTML/CSS</p>
<div class="container" style="padding-left:0px; padding-right:0px;">	
    <div class="skills html">100%</div>
</div>
<br>
<p style="margin-left:5.5cm">Bootstrap</p>
<div class="container" style="padding-left:0px; padding-right:0px;" >
    <div class="skills bootstrap">100%</div>
</div>
<br>
<p style="margin-left:5.5cm">Angular</p>
<div class="container" style="padding-left:0px; padding-right:0px;">
    <div class="skills angular">100%</div>
</div>
<br>
